<div class="sidebar-css">
  <ul>
    <li>
      <a routerLink="/"
        ><i class="material-icons app-bar-style active" matTooltip="Home"
          >home</i
        ></a
      >
    </li>
    <li>
      <a routerLink="/create"
        ><i
          class="material-icons app-bar-style active"
          matTooltip="Add student"
          >add</i
        ></a
      >
    </li>
     <li>
      <a routerLink="/vaccine"
        ><i
          class="material-icons app-bar-style active"
          matTooltip="Vaccinate"
          >vaccines</i
        ></a
      >
    </li>
    <li>
      <a routerLink="/report"
        ><i
          class="material-icons app-bar-style active"
          matTooltip="Generate Report"
          >description</i
        ></a
      >
    </li>
    <li>
      <a routerLink="/bmi"
        ><i
          class="material-icons app-bar-style active"
          matTooltip="BMI"
          >monitor_weight</i
        ></a
      >
    </li>

    <li>
      <a routerLink="#" (click)="handleLogout()"
        ><i class="material-icons app-bar-style active" matTooltip="Logout"
          >logout</i
        ></a
      >
    </li>
  </ul>
</div>
