<div class="flex-container">
  <form #f="ngForm" (ngSubmit)="handleSubmit(f)" *ngIf="!hasRetreived">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Choose Class</label>
      <select
        class="form-control"
        id="mClass"
        [(ngModel)]="mClass"
        name="mClass"
      >
        <option selected>1</option>
        <option>2</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Select Semester</label>
      <select
        class="form-control"
        id="mSection"
        [(ngModel)]="mSection"
        name="mSection"
      >
        <option selected value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>
    <div>OR</div>
    <hr />
    <div class="form-group">
      <label for="exampleFormControlSelect1">Enter Id Number</label>
      <input
        class="form-control"
        id="mIdNumber"
        [(ngModel)]="mIdNumber"
        name="mIdNumber"
      />
    </div>

    <button class="btn btn-primary" type="submit">Generate Report</button>
  </form>

  <table *ngIf="hasRetreived">
    <tr>
      <th>Student Name</th>
      <th>Student Class</th>
      <th>Student ID</th>
    </tr>
    <tr *ngFor="let student of students" (click)="viewMore(student)" style="cursor: pointer;">
      <td>{{ student.mFirstName }} {{ student.mLastName }}</td>
      <td>{{ student.mClass }}</td>
      <td>{{ student.mIdNumber }}</td>
    </tr>
  </table>
</div>
